html, body {
 margin: 0px;
 padding: 0px;
}
#main {
 height: 100vh;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}
#mainContent{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 height: 50vh;
 width: 50%;
 background-color: aquamarine;
 text-align: center;
}
input {
 padding: 15px 50px;
 border: 1px solid black;
background: none;
 outline-style: none;
}
button {
 padding: 10px 30px;
 cursor: pointer;
 background: none;
 outline-style: none;
 border: 1px solid black;
}
p {
 font-size: 30px;
}